
   body{
    font-family: sans-serif;
       padding: 0px;
       margin: 0px;
    
      font-size: 100%;
   }
   h1{
       font-weight: 900px;
   }
    
    .highlight {
        color: orangered;
    }
    .half-width{
    width: 40%;  
    float: left;
margin-left: 5%;  
  padding-left: 2%;
    }
    .half-width img{
        width: 80%;
    }
    .top-banner{
        background-image: url(top-banner.png);
background-repeat: no-repeat;

    }
    section{
        height:500px ;
    }
    .link-button{
       
        text-decoration: none;
        background-image: linear-gradient(orange, red);
        padding: 10px 20px ;
        border-radius: 5px;
        
color: white;
font-weight: 900;
    }
    .link-button:hover{
       background-image: linear-gradient(orange,blue);
    }

.button
{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 10px 60px ;
    border-radius: 5px;
    color: white;
font-weight: 700;
}
.button:hover{
    background-image: linear-gradient(orange,blue);
}
.dream-area
{
    background-image: url(dream4.png);
   background-repeat: no-repeat;

}
.single-new{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
}
.experience
    {
        background-image: url("exp.png");
        background-repeat: no-repeat;
        background-position: left;
    }
    #full-stack 
    {
        border-left: 7px solid;
     border-image: linear-gradient(180deg,blue,red);
        border-image-slice: 1;
       
    }
    #baby-web{
        border-left: 7px solid;
     border-image: linear-gradient(180deg,blue,cyan);
        border-image-slice: 1; 
    }
    footer P{
        text-align: center;
        color: orangered;
    }